<!doctype html>
<html>
<head>
<title>Black Rock Lighthouse Service</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

<script>

var LIGHTHOUSE_HEIGHT_OFFSET_MULTIPLIER = 0.325229722065629;
var LIGHTHOUSE_WIDTH_OFFSET_MULTIPLIER = 0.43800322061191627;

function resizeMap(){
    //$('#holder').width($(window).width() - 50);
    //$('#holder').height($(window).height() - 50);
    var window_width = parseInt($('#holder').width());
    var window_height = parseInt($('#holder').height());

    if (window_height < window_width){
        //$('#holder').width($(window).width() - 50);
        $('#themap').width(window_height);
    } else {
        $('#themap').width(window_width);
    //$('#holder').width($(window).width() - 50);
    //$('#holder').height($(window).height() - 50);
    };
}

function placeLighthouse(){
    var map_width = $('#themap').width();
    var map_height = $('#themap').height();
    $('#lighthouse').width(Math.min(map_width, map_height) / 40);
    var lh_top = parseInt(map_height * LIGHTHOUSE_HEIGHT_OFFSET_MULTIPLIER);
    var lh_left = parseInt(map_width * LIGHTHOUSE_WIDTH_OFFSET_MULTIPLIER);
    $('#lighthouse').css({position:'absolute', top: lh_top, left: lh_left});
}

function changeHref(){
    var raw_lighthouse_pos = $('#lighthouse').position();
    var map_pos = $('#themap').position();
    var lighthouse_pos = [raw_lighthouse_pos.left - map_pos.left, raw_lighthouse_pos.top- map_pos.top];
    var map_width = parseInt($('#themap').width());
    var map_height = parseInt($('#themap').height());
    $('#maplink').attr('href', "/pan_to_coord/map_"+map_width+'x'+map_height+'/lh_'+lighthouse_pos[0]+'x'+lighthouse_pos[1]);
}

function resized(){
    resizeMap();
    placeLighthouse();
    changeHref();
}

$(window).resize(resized);

// Calling resized directly from document.read isn't working
// on Firefox 46. Lighthouse isn't placed quite correctly.
// not sure why. Works fine on Chrome 52 though.
$(document).ready(function(){
    setTimeout(resized, 100);
    //set lighthouse to be draggable to simplify math.
    //$('#lighthouse').draggable({stop: resized});
});

$( function() {
    function log( message ) {
        $( "<div>" ).text( message ).prependTo( "#log" );
        $( "#log" ).scrollTop( 0 );
    }

    $( "#camps" ).autocomplete({
        source: "/camp_search/",
        minLength: 2,
        select: function( event, ui ) {
            log( ui.item ?
                    "Selected: " + ui.item.value + " @ " + ui.item.str_loc:
                    "Nothing selected, input was " + this.value );
            $.ajax({url: 'pan_to_camp/',
                    type: 'POST',
                    data: ui.item,
                    success: function(){
                        //alert('sent!');
                        console.log('sent');
                    }
            });
        }
    })
    .autocomplete('instance'._renderItem = function(ul, item){
        return $('<li>').append('<div>'+item.name).appendTo(ul);
    });
} );

</script>
</head>
<body>
    <div class=page>
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}

        <div id='holder'>
            <a id='maplink' href=''>
                <img id='themap' src="{{ url_for('static', filename='brc_map_downrezzed.png') }}" ismap>
            </a>
            <img id='lighthouse' src="{{ url_for('static', filename='lighthouse.png') }}">
        </div>
        <div class="ui-widget">
            <label for="camps">Camps: </label>
            <input id="camps">
        </div>

        <div class="ui-widget" style="margin-top:2em; font-family:Arial">
            Result:
            <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
        </div>

    </div>
            {% block body %}{% endblock %}
</body>
</html>

